.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #000000;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
}

.grid > div {
  flex: 1;
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid > div:first-child {
  flex: 0.4;
}

.grid > div:first-child > label {
  color: rgb(73, 146, 210);
}

.input {
  background-color: white;
  color: #000000;
  font-size: medium;
  font-weight: 500;
}

.grid > div:last-child {
  flex: 0.6;
}

.grid > div:last-child > h3 {
  color: rgb(73, 146, 210);
}

.videoContainer {
  width: 100%;
  max-width: 400px;
  max-height: 700px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.videoContainer video {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.button {
  width: 100px;
  height: 40px;
  background-color: black;
  border-radius: 4px;
  border: 2px black solid;
  color: #ddd;
  font-weight: 500;
  font-size: medium;
}
